# =============================================================================
# Конфигурация HAProxy как mTLS-прокси перед NGINX
#
# Схема: Клиент --mTLS--> HAProxy:9443 --mTLS--> NGINX:443
#
# HAProxy терминирует mTLS (проверяет клиентский сертификат),
# затем проксирует запрос на NGINX backend по mTLS,
# передавая информацию о клиентском сертификате в заголовках.
#
# PEM-файлы собираются entrypoint.sh из /etc/haproxy/certs/ в /tmp/haproxy-certs/
# =============================================================================

global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    retries 3

# ---------------------------------------------------------------------------
# Статистика HAProxy (доступна на порту 8404)
# ---------------------------------------------------------------------------
frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s

# ---------------------------------------------------------------------------
# Frontend: mTLS-терминация на порту 9443
# ---------------------------------------------------------------------------
frontend mtls_frontend
    bind *:9443 ssl crt /tmp/haproxy-certs/server.pem ca-file /tmp/haproxy-certs/ca.crt verify required

    # Логируем информацию о клиентском сертификате
    log-format "%ci:%cp [%t] %ft %b/%s %Tq/%Tw/%Tc/%Tr/%Tt %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r ssl_client_dn=\"%[ssl_c_s_dn]\" ssl_serial=\"%[ssl_c_serial]\" ssl_fingerprint=\"%[ssl_f_sha1]\" ssl_notbefore=\"%[ssl_c_notbefore]\" ssl_notafter=\"%[ssl_c_notafter]\" ssl_protocol=\"%[ssl_fc_protocol]\" ssl_cipher=\"%[ssl_fc_cipher]\""

    # Передаём информацию о клиентском сертификате в заголовках
    http-request set-header X-Client-DN             %[ssl_c_s_dn]
    http-request set-header X-Client-Serial         %[ssl_c_serial]
    http-request set-header X-Client-Fingerprint     %[ssl_f_sha1]
    http-request set-header X-Client-Cert-NotBefore  %[ssl_c_notbefore]
    http-request set-header X-Client-Cert-NotAfter   %[ssl_c_notafter]
    http-request set-header X-TLS-Version            %[ssl_fc_protocol]
    http-request set-header X-TLS-Cipher             %[ssl_fc_cipher]
    http-request set-header X-Client-Verify          %[ssl_c_verify]

    default_backend nginx_backend

# ---------------------------------------------------------------------------
# Backend: NGINX на порту 443 (mTLS внутри Docker-сети)
# HAProxy выступает как mTLS-клиент по отношению к NGINX
# ---------------------------------------------------------------------------
backend nginx_backend
    balance roundrobin

    # HAProxy подключается к NGINX по HTTPS с клиентским сертификатом
    server nginx nginx-mtls-server:443 ssl crt /tmp/haproxy-certs/client.pem ca-file /tmp/haproxy-certs/ca.crt verify required
